dask==2023.2.0
keras==2.11.0
matplotlib==3.5.1
numba==0.56.2
numba_progress==0.0.4
numpy==1.22.2
opfython==1.0.12
pandas==1.5.3
Pillow==9.4.0
PySimpleGUI==4.60.4
scikit_learn==1.2.2
scipy==1.8.0
seaborn==0.12.2
setuptools==45.2.0
tensorflow==2.11.0
termcolor==2.2.0
tqdm==4.62.3
umap==0.1.1
